../.bash_history
../.bashrc
../.cache/
../.config/
../.docker/
../.git-credentials
../.gitconfig
../.lesshst
../.m2/
../.motd_shown
../.mysql_history
../.profile
../.psql_history
../.ssh/
../.sudo_as_admin_successful
../.vim/
../.viminfo
../.wget-hsts
../ProjectCI-CD/
../gitTest/
../snap/
../test3tapp/
.env.orig
../threeTierAppWORKED/
