# Ignore bash and config files
.bash_history
.bashrc
.git-credentials
.gitconfig
.lesshst
.motd_shown
.mysql_history
.profile
.psql_history
.sudo_as_admin_successful
.viminfo
.wget-hsts

# Ignore cache and configuration directories
.cache/
.config/
.docker/
.m2/
.ssh/
.vim/

# Ignore specific projects and test directories
ProjectCI-CD/
gitTest/
npthreetier/
snap/
test3tapp/
threeTierAppWORKED/

